@use '../base/colors' as *;

.order {
  &__sub {
    font-size: 1.8rem;
    color: $light-gray;
  }

  &__steps-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    position: relative;

    @media (min-width: 1200px) {
      &::before {
        content: '';
        background-image: url('../../img/points.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 30%;
        width: 100%;
        height: 0.5rem;
      }
    }
  }

  &__step {
    font-size: 1.6rem;
    text-align: center;
    color: $white;
    padding: 12rem 1rem 0 1rem;
    max-width: 18rem;
    position: relative;

    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 2.2rem;
      left: 50%;
      transform: translateX(-50%);
      width: 5.5rem;
      height: 5.5rem;
      z-index: 1;
    }

    &::after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 50%;
      background-image: url('../../assets/img/circle.svg');
      width: 10rem;
      height: 10rem;
      transform: translateX(-50%) scale(1);
      transition: -webkit-transform 0.3s ease, transform 0.3s ease;
    }

    &:hover::after {
      transform: translateX(-50%) scale(1.2);
    }

    &:nth-child(1):before {
      content: '';
      background-image: url('../../assets/img/icons/search.svg');
    }

    &:nth-child(2):before {
      content: '';
      background-image: url('../../assets/img/icons/percent.svg');
    }

    &:nth-child(3):before {
      content: '';
      background-image: url('../../assets/img/icons/file.svg');
    }

    &:nth-child(4):before {
      content: '';
      background-image: url('../../assets/img/icons/message.svg');
    }

    &:nth-child(5):before {
      content: '';
      background-image: url('../../assets/img/icons/money.svg');
    }

    @media (min-width: 992px) {
      min-width: 20.8rem;
    }
  }
}