$white: #fff;
$black: #000;
$gray: #3d4050;
$light-gray: #bbb;
$dark-gray: #272733;
$blue: #3e9cdc;
$dark-blue: #286690;

$bg-light: rgba(255, 255, 255, 0.85);
$bg-gray: rgba(61, 64, 80, 0.85);
$bg-dark: rgba(16, 16, 29, 0.9);